# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example
.ENDPOINT.md
.SETUP.md
# Next.js
.next/
out/

# NestJS
dist/

# Expo / React Native
.expo/
web-build/

# Turborepo
.turbo/

# Logs
*.log
pnpm-debug.log*

# OS and editor
.DS_Store
Thumbs.db
.vscode/
.idea/